@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:wght@100&family=Playfair+Display:wght@500;600;700;800;900&display=swap');

:root{
    --lg-font: 'Manrope', sans-serif;
    --slider-title:'Kaushan Script', cursive;
    --bg-primary: #6F533E;
    --primary-color:#FFC05E;
    --text-dark:#222222;
    --text-black:#121212;
}
body{
    font-family: 'Manrope', sans-serif;
}


.d_flex{
    display: flex;
    justify-content: center;
}
a{
    font-family: var(--lg-font);
}
h1{
    font-weight: 400;
    font-size: 96px;
    line-height: 126.1%;
    color: #FFFFFF;
}

h2{
    font-family: var(--lg-font);
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #222222;
}
h3{
    font-family: var(--lg-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #503A2A;
}

h4{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 130% */
    color: #B4A993;
}
h5{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    /* identical to box height, or 130% */
    color: #F2B227;
}
h6{
    font-family: var(--lg-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #222222;
}
p{
    font-family: var(--lg-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.title {
    padding: 30px 0;
    font-family: var(--lg-font);
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--text-black);

}



header{
    background: var(--bg-primary);
    padding: 20px 0;
}
.topnav{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
}
.topnav a{
    position: relative;
}
.topnav a:hover{
    color: #FFC05E;
}
.topnav a::after{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    height: 2px;
    width: 0;
    border-radius: 15px;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.topnav a:hover::after{
    width: 100%;
}
.navbar-nav .nav-link .active{
    color: #FFC05E !important;
}

/*======================= nav icons=========================================
=========================================================*/

.icondiv{
    position: relative;
    padding: 0 8px;
    margin: 0 3px;
}
    .icondiv i{
        color: rgba(255, 255, 255, 0.316);
        font-size: 20px;
    }
    .icondiv span {
        position: absolute;
        background-color: var(--primary-color);
        width: 18px;
        text-align: center;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 700;
        top: -7px;
        left: 0;
    }
.iconmenu p{
    color: rgba(255, 255, 255, 0.316);
    font-weight: 700;
    font-size: 13px;

}

/*======================= Slider=========================================
=========================================================*/
#banner{
    background-color: var(--bg-primary);
}
.carousel-inner{
    padding: 50px 0;
    padding-bottom: 100px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    opacity: 0;
    visibility: hidden;
    
    transition: 0.25s ease-out !important;
  /* Move into place */
    /* transform: translateX(100%); */
    
}

button.carousel-control-next:hover .carousel-control-next-icon{
    transition: 0.25s ease-in !important;
    transform: translateX(40%);
    opacity: 1;
    visibility: visible;
}
button.carousel-control-prev:hover .carousel-control-prev-icon{
    transition: 0.25s ease-in !important;
    transform: translateX(-40%);
    opacity: 1;
    visibility: visible;
}

.carousel-control-next {
    right:-70px !important;
    justify-content: end ;
}
.carousel-control-prev {
    left:-70px !important;
    justify-content: start ;
}
.carousel-indicators {
    right:50px;
    justify-content: end;
  
}
.carousel-indicators [data-bs-target] {
    
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
}
.carousel-indicators .active {
    opacity: 1;
    border: 5px solid #6f533e;
    box-shadow: 0 0 4px 0px #ebe8e8;
    margin-top: 5px;
    margin-left: 5px;
}

.carousel-item .carousel-text {
    position: absolute;
    width: 525px;
    top: 7%;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    z-index: 2;
}
.carousel-item .carousel-text h1{
    font-family: var(--slider-title);
    font-size: 96px;

}
.carousel-text .shopbtn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 15px 40px;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 1, 0);
    transition: ease-in 0.4s;
    z-index: 1;
    
}
.carousel-text .shopbtn:hover {
    color: #FFFFFF;
    box-shadow: inset 10rem 0px 0px 0px #000000;
    transition: ease-in 0.4s;
    border-color: #000000;
}

/*======================= Slider text animation =========================================
=========================================================*/

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
      
  @keyframes animate-fade {
      0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  .animate.pop {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
          
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  
  
  .delay-1 {
    animation-delay: 0.6s;
  }
      
  .delay-2 {
    animation-delay: 0.7s;
  }
      
  .delay-3 {
    animation-delay: 0.8s;
  }
/*======================= Slider ORBIT=========================================
=========================================================*/

    /* ---------- Container for the orbiting circles animation ---------- */
.orbit{
    display: flex;
    position: relative;
}
.orbit .slider-image{
    position: absolute;
    bottom:-15px;
    right: 20px;
    z-index: 1;

}

    #circle-orbit-container {
    position: relative;
    top: 10px;
    right: 25px;
    margin-left: auto;
    margin-right: 2%;
    height: 510px;
    width: 510px;
}
  
  /* ---------- Inner orbit - This is the circles closest to the central point ---------- */
  #inner-orbit {
    position: absolute;
    top: 21%;
    right: 21.5%;
    width: 270px;
    height: 270px;
    border: 1px #BD987D solid;
    background: #ffffff57;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}
  
  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .inner-orbit-cirlces {
    position: absolute;
    top: 62px;
    right: 10px;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: #f2b227;
}
  
  /* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
  #middle-orbit {
    position: absolute;
    top: 50px;
    right: 52px;
    width: 390px;
    height: 390px;
    border: 1px #9A8677 solid;
    border-radius: 100%;
    -webkit-animation: spin-left 15s linear infinite;
    animation: spin-left 15s linear infinite;
}
  
  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .middle-orbit-cirlces1, .middle-orbit-cirlces2{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #BD987D;
}
.middle-orbit-cirlces1{
    top: 25px;
    right: 74px;
    background-color: #F2B227;
}
.middle-orbit-cirlces2 {
    top: 40%;
    left: -5px;
    height: 15px;
    width: 15px;
    background-color: #BD987D;
}
  
  /* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
  #outer-orbit {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 500px;
    border: 1px #9A8677 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}
  
  /* ---------- Repeating styles for the outer orbiting circles ---------- */
  .outer-orbit-cirlce1, .outer-orbit-cirlce1-2, .outer-orbit-cirlce2, .outer-orbit-cirlce3, .outer-orbit-cirlce4{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    
}
.outer-orbit-cirlce1 {
    top: 21px;
    left: 125px;
    height: 15px;
    width: 15px;
    background-color: #BD987D;

}
.outer-orbit-cirlce1-2 {
    top: 0px;
    left: 60%;
    height: 15px;
    width: 15px;
    background-color: #F2B227;
}
.outer-orbit-cirlce2 {
    top: 70%;
    left: 14px;
    background-color: #F2B227;

}
.outer-orbit-cirlce3 {
    right: 13px;
    top: 70%;
    background-color: #BD987D;
}
.outer-orbit-cirlce4 {
    right: -8px;
    top: 50%;
    background-color: #bd987d00;
    border: 2px #bd987daa solid;
    width: 15px;
    height: 15px;
}
  /* ---------- Animation ---------- */
      @-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  } 
  @-webkit-keyframes spin-left {
    50% {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
  }    

  /*======================= Service Section =========================================
======================================================================================*/

#service-section {
    background-color: #D8C9B2;
    padding: 50px 0;
    
}
#service-section .service-item{
    display: flex;
    position: relative;
    align-items: center;
    
}
#service-section .service-item::before {
    content: "";
    width: 1px;
    background: #A0846FFC;
    height: 50%;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    position: absolute;
    right: 20px;
}
#service-section .service-item:last-child::before{
    width: 0;
}

.service-item .text{
    margin-left: 20px;
    margin-top: 20px;
    color: #503A2A;
}

  /*======================= Service Section end =========================================
======================================================================================*/

  /*======================= Category Image Section =========================================
======================================================================================*/
#category-image{
    padding-bottom: 77px;
    padding-top: 120px;
}
.heading{
    /* margin-top: 120px; */
    margin-bottom: 56px;
}
.circle{
    position: relative;
}
.circle i{
    font-size: 24px;

}
.circle::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    background: #F2B227;
    border-radius: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.circle:first-child::before{
    left: -20%;
}
.circle:last-child::before{
    right: -20%;
}
#category-image .more-btn .btn{
    font-family: var(--lg-font);
    padding-bottom: 12px;
    padding-right: 0px;
}
#category-image .more-btn .btn:active{
    border-color: #FFFFFF;
}
#category-image .more-btn .btn i{
    font-size: 18px;
    color: #B09078;

}
 /* =========================Swiper Slider================================ */
.swiper {
    width: 100%;
    height: 100%;
}
.category-slider .swiper {
    padding-top: 70px;
    padding-bottom: 50px;
    border: 1px solid #EBEBEB;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;  
}
.category-slider .swiper-pagination-horizontal {
    top: inherit;
    bottom: 0;
    height: 3px;
    background: transparent;
}
.category-slider .swiper-pagination-progressbar-fill{
    background: #F2B227;
} 
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-slider .swiper-slide img {
    border-radius: 50%;
    margin-bottom: 12px;
    object-fit: cover;
}
#category-image .swiper-slide img{
    max-width: 139px;
    max-height: 139px;
    border: 7px solid #ffffff;
}
#category-image .swiper-slide .imagebox.active img{
    border: 7px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
#category-image .swiper-slide .imagebox p{
    color: #222222;
    font-weight: 500;
}

#category-image .swiper-slide{
    position: relative;
}

#category-image .swiper-slide::after {
    position: absolute;
    content: '';
    bottom: -53px;
    left: 0;
    width: 0;
    height: 7px;
    background: #F2B227;
    display: none;
}

#category-image .swiper-slide.swiper-slide-active::after{
    /* display: block; */
    width: 100%;
    
}
#category-image .swiper-slide.swiper-slide-active img {
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08));
}

/*======================= Category Image Section end=========================================
======================================================================================*/

/*======================= Product Carousel =========================================
======================================================================================*/
#product-carousel{
    padding-bottom: 77px;
    padding-top: 77px;
    background: #FFF9F5;
}

#product-carousel .btn{
    font-weight: 500;
    text-decoration: underline;
    color: #6F533E;
    
}
#product-carousel .swiper {
    padding-top: 30px;
    padding-bottom: 50px;
    
}
#product-carousel .swiper-slide {
    background-color: #FFF9F5;
}
.imageproduct .category{
    padding-top: 16px;
    margin-bottom: 10px;
    color: #777777;
    font-weight: 500;
}
.imageproduct .title{
    font-size: 20px;
    color:var(--text-dark);
}
.imageproduct h3{
    font-size: 18px;
}
.imageproduct .price-discount{ 
    color:#FF2F2F;  
}
.imageproduct .price-discount span{
    font-size: 14px;
    text-decoration: line-through;
    padding-left: 5px;
    color: #c4c4c4;
}
.image-layer{
    position: relative;
}
.image-layer .overlay{
    width: 0;
    height: 100%;
    background: var(--text-dark); 
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0.7;
    transform: translateX(-50%);
    transition: 0.5s;
}
.imageproduct:hover .overlay{
    width: 100%;
    opacity: 0.15;
}
.image-layer .cart{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: var(--lg-font);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0;
    border: none;
    background: rgba(111, 83, 62, 0.6);
    backdrop-filter: blur(37.5px);
    transform:translateY(50%) scaleY(0);
    transition: 0.4s;
    transition-delay: 0.2s;

}
.imageproduct:hover .cart{
    transform:translateY(0%)  scaleY(1);
}
button.wishlist {
    border: none;
    background: transparent;
    position: absolute;
    right: 3%;
    top: 3%;
    z-index: 1;
}


.product-swiper-slider{
    position: relative;
}
.product-swiper-slider .swiper-button-next, .swiper-button-prev {
    top: 40%;
    color: transparent;
}
.product-swiper-slider .swiper-button-next{
    right: -60px;
}
.product-swiper-slider .swiper-button-prev{
    left: -50px;
}
.product-swiper-slider .swiper-button-next i, .swiper-button-prev i{
    font-size: 35px;
    color: var(--swiper-navigation-color,var(--text-dark)); 
}
.product-swiper-slider .swiper-button-prev i{
    rotate: 180deg;
}

.swiper-pagination-bullet { 
    width: 10px; 
    height: 10px; 
    background: #E2CFC1; 
    opacity: 1; 
    transition: all linear .3s;
}
.swiper-pagination-bullet-active { 
    width: 20px; 
    transition: width .5s; 
    border-radius: 5px; 
    background: #6F533E; 
    border: 1px solid transparent; 
}

/*======================= Product Carousel end =========================================
======================================================================================*/

/*======================= Product Banner =========================================
======================================================================================*/
#product-banner{
    padding-bottom: 77px;
    padding-top: 77px;
}
.bannerleft, .bannerright{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}
.bannerleft{
    justify-content: start;
}
.bannerleft .text{
    position: absolute;
    top: 73px;
    left: 70px;

}
.bannerleft p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--bg-primary);
} 
.bannerleft h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: var(--text-dark);
}


.banner-btn {
    position: relative;
    display: inline-block;
    width: auto; 
    height: auto;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .banner-btn span {
    position: relative;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 15px;
    transition: 0.3s;
}
    .btn-2::before {
        background-color:#FF6A00;
        transition: 0.3s ease-out;
      }
    .btn-2 span {
        color: #ffffff;
        transition: linear 0.3s;
        align-items: center;
        } 
        .btn-2 span i{
            display: none;
            }
      .btn-2 span:hover {
        color: rgb(255,255,255);
        transition: 0.3s 0.3s;
      }
      .btn-2 span:hover i{
        display: block;
        transition: linear 0.3s;

      }
    .banner-btn.hover-slide-up::before {
        content: "";
        position: absolute;
        bottom: 0; 
        left: 0;
        height: 100%;
        width: 66%;
        border-radius: 50px;
      }
    .banner-btn.hover-slide-up:hover::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
    }
.bannerright{
    justify-content: end;
}

.bannerright .text{
    position: absolute;
    top: 73px;
    left: 70px;

}
.bannerright p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--bg-primary);
} 
.bannerright h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: var(--text-dark);
}

.bannerright img,.bannerright .img{
    width: 100%;
    height: 100%;

}


/*======================= Product Banner end =========================================
======================================================================================*/
/*======================= Product List Carousel =========================================
======================================================================================*/

#product-list-carousel{
    padding-bottom: 77px;
    padding-top: 77px;
}

#product-list-carousel .btn{
    font-weight: 500;
    text-decoration: underline;
    color: #6F533E;
    
}
#product-list-carousel .swiper {
    padding-top: 70px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
#product-list-carousel .swiper-slide {
    height: calc((100% - 30px) / 2) !important;
} 
#product-list-carousel .imageproduct {
    margin-bottom: 60px;
}

.productlist-slider{
    position: relative;
}
.productlist-slider .navbutton{
    display: flex;
    justify-content: center;
}
.productlist-slider .swiper-button-next2, .swiper-button-prev2 {
    bottom: 40%;
    color: transparent;
}
.productlist-slider .swiper-button-prev2{
    left:50px;
}
.productlist-slider .swiper-button-next2 i, .swiper-button-prev2 i{
    margin: 0 20px;
    
    padding: 10px 12px;
    border-radius: 30px;
    font-size: 24px;
    background:#6F533E;
    color: var(--swiper-navigation-color,#ffffff);
}
.swiper-button-next2.swiper-button-disabled i, .swiper-button-prev2.swiper-button-disabled i{
    opacity: .65;
    background: #F0F2F3;
    color: var(--swiper-navigation-color,var(--text-dark)); 
    cursor: auto;
    pointer-events: none;
}
.productlist-slider .swiper-button-prev2 i{
    rotate: 180deg;
}




/*======================= Product List Carousel end =========================================
======================================================================================*/
/*======================= top footer =========================================
======================================================================================*/
#top-footer{
    padding-top: 90px;
    padding-bottom: 60px;
    background: #F3F6F8;

}
#top-footer,p {
    font-family: var(--lg-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #726E6C;
}
#top-footer ul li{
    margin: 12px 0;
}
#top-footer ul li:hover{
    color: var(--bg-primary);
}
.widget1 .text{
    padding-top: 50px;
}
.widget2, .widget3, .widget4{
    padding-top: 10px;   
}
.widget2{
    padding-left: 30px;
}
.newsletter-search{
    display: flex;
}
.newsletter-search .btn-subscribe {
    margin-right: 0;
    margin-left: 20px;
    background: var(--bg-primary);
    padding: 10px 22px;
    color: white;
    border: 1px solid var(--bg-primary);
    border-radius: 7px;
}
.newsletter-search .btn-subscribe:hover {
    opacity: .85;

}
.newsletter-search .form-control {
    padding: .375rem 20px;
    border: 1px solid #E1E3E5;
}
.social-icons .list-inline-item {
    padding: 11px 15px;
    font-size: 16px;
    color: #726E6C;
    transition: all  0.4s;
    border: 2px solid transparent;
}
.social-icons .list-inline-item:hover{
    border: 2px solid #726E6C;
    transition: all step-start 0.4s;
    border-radius: 50px;
}


/*======================= top footer end =========================================
======================================================================================*/
/*======================= footer =========================================
======================================================================================*/
#footer-section{
    padding-top: 25px;
    padding-bottom: 30px;
    background: #F3F6F8;
    border-top:1px solid #E1E3E5;
    position: relative; 
}
#footer-section:before{
    position: absolute;
    content: "";
    top: 1px;
    width: 100%;
    height: 1px;
    background: white;
}
#footer-section .copyright{
    padding-top: 12px;
}
#footer-section .copyright a{
    text-decoration: none;
    color: #6F533E;
}
#footer-section .payment{
    display: flex;
    justify-content: end;
}
/*======================= footer end =========================================
======================================================================================*/


/*======================= single product info =========================================
======================================================================================*/
#single-product{
    padding: 70px 0;
}
#vertical-slider {
    padding: 32px;
    padding-left: 0;
    color: #fff;
    overflow: hidden;
  }
  #vertical-slider .swiper-container {
    width: 100%;
    height: 100%;
  }
  .slider__flex {
    display: flex;
    align-items: flex-start;
    height:470px;
  }
  .slider__col {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 150px;
    margin-left: 10px;
    margin-top: 70px;
  }
  .slider__prev,
  .slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 48px;
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .slider__prev:focus,
  .slider__next:focus {
    outline: none;
  }
  .slider__thumbs {
    height: calc(450px - 96px);
  }
  .slider__thumbs .slider__image {
    transition: 0.25s;
    height:80px;
    width: 80px;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    opacity: 1; 
    border: 1px solid #EBEBEB;
    background: #fff;
    padding: 5px;
    border-radius: 2px;
  }
  .slider__thumbs .slider__image:hover {
    opacity: 1;
  }
  .slider__thumbs .swiper-slide-thumb-active .slider__image {
    /* -webkit-filter: grayscale(0%);
    filter: grayscale(0%);*/
    opacity: 1; 
    border: 1px solid var(--bg-primary);
    background: #fff;
    padding: 5px;
    border-radius: 2px;
  }
  .slider__images {
    height: 480px;
  }
  .slider__images .slider__image img {
    transition: 3s;
  }
  /* .slider__images .slider__image:hover img {
    transform: scale(1.1);
  } */
  .slider__image {
    width: 100%;
    height: 100%;
    max-width:  560px;
    max-height: 560px;
    background-size: cover;
    float: left;
    border: 1px solid #EBEBEB;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .slider__image i {
    position: absolute;
    bottom: 30px;
    right: 40px;
    padding: 8px;
    border-radius: 10px;
    background: white;
    color: #222;
    cursor: pointer;
    z-index: 1;
}  
  @media (max-width: 767.98px) {
    .slider__flex {
      flex-direction: column-reverse;
    }
    .slider__col {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-top: 24px;
      width: 100%;
    }
    .slider__images {
      width: 100%;
    }
    .slider__thumbs {
      height: 100px;
      width: calc(100% - 96px);
      margin: 0 16px;
    }
    .slider__prev,
    .slider__next {
      height: auto;
      width: 32px;
    }
  }

.product-details{
    display: block;
    justify-content: center;
    padding: 32px;
    text-align: left;
    color: var(--text-black);
}
.product-details .title h2{
    text-align: left;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}
.product-details .reviews {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px 0;
}
.product-details .reviews .star{
    display: flex;
    margin-bottom: 8px;
}
.star i{
    color: #F2B23E;
    padding: 0 3px;
}
.star .nostar{
    color: #EBEBEB;
}


.product-details .reviews .reviewers{
    margin: 0 10px;
}
.product-details .reviews .reviewers h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #141330;
}
.product-details .price{
    display: flex;
}
.product-details .price h2{
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: var(--text-black);
}
.product-details .price h2 span{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: line-through;
    color: #B8BAC6;
}
.product-details .variation{
    display: flex;
    padding: 10px 0;
}
.product-details .variation h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: var(--text-black);
}
.product-details .variation .colors,.sizes{
    display: flex;
    margin-right: 20px;
    
}
.product-details .variation .block, .block-red,.block-blue, .block-yellow{
    height: 27px;
    width: 27px;
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 5px;
    background: #d9d9d9;
    text-align: center;
    font-weight: 700;
    font-size: 11px;
}
.variation .block-red{
    background: #FF0000;
}
.variation .block-blue{
    background: #0000FF;
}
.variation .block-yellow{
    background: #FF9F43;
}
.product-details .quantity {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.product-details .quantity h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: var(--text-black);
}
.product-details .quantity i{
    font-size: 16px;
    border-radius: 25px;
    padding: 8px;
    margin: 0 20px;
    color: #9E9E9E;
    background: #d9d9d9;
}
.product-details .quantity i:hover{
    color: var(--text-black);
}
.product-details .cart-buttons {
    display: flex;
}
.product-details .wish-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    margin: 10px;
    margin-left: 0;
    background: #F2B227;
    border-radius: 8px;
    color: #6F533E;
    border: none;
}

.product-details .cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    margin: 10px;
    margin-left: 0;
    background: var(--bg-primary);
    border-radius: 8px;
    color: #ffffff;
    border: none;
}

.product-details .wish-btn i,.cart-btn i {
    margin-right: 10px;
}
.product-details .wish-btn:hover, .cart-btn:hover{
    opacity: 0.7;
}
.product-details .text{
    padding: 10px 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: var(--text-black);
}
.product-details .social-share{
    display: flex;
    align-items: center;
}
.product-details .social-share .icons{
   
}
.product-details .social-share i{
    padding: 7px;
    background: var(--bg-primary);
    border-radius: 25px;
    color: #fff;
    margin: 0 5px;
    transition: all linear 0.3s;
}
.product-details .social-share i:hover{
    background: #F2B227;

}
/*======================= single product info end =========================================
======================================================================================*/

/*======================= Product Description =========================================
======================================================================================*/

#product-description{
    padding: 20px 0;
    min-height: 600px;
}
#product-description .nav-pills .nav-link {
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-right: 40px;
    border-radius: 50px;
}
#product-description .nav-link{
    padding: 10px 30px;
}
#product-description .nav-pills .nav-link.active{
    color: white;
    background: var(--bg-primary);
}
#product-description th{
    width: 30%;
}
#product-description .text{
    width: 90%;
    padding-top: 40px;
    padding-bottom: 50px;
}
#product-description .text h4{
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #323232;
}
#product-description .text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
}
/*======================= Product Description end =========================================
======================================================================================*/

/*======================= Contact us form =========================================
======================================================================================*/
#contact-form {
    padding: 10px 0;
    padding-bottom: 100px;
}

#contact-form .imput-field {
    padding-bottom: 12px;
}

#contact-form .reviews {
    padding-top: 3px;
}

#contact-form .form-control {
    border-color: #e1e1e1;
}

#contact-form .form-control:focus {
    border-color: #D8C9B2;
    box-shadow: 0 0 0 0.05rem #D8C9B2;
}

#contact-form .reviews .reviewers h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8B8B8B;
}

.reviews .rating-box {
    display: inline-block;
}

.rating-container {
    direction: rtl !important;
}

.reviews label i {
    display: inline-block;
    margin: 15px 0;
    color: var(--text-black);
    cursor: pointer;
    font-size: 18px;
    transition: color 0.2s;
}

.reviews input {
    display: none;
}

.reviews label:hover i,
.reviews label:hover~label i,
.reviews input:checked~label i {
    color: #F2B23E;
}
.contact-btn{
    background: var(--bg-primary);
    color: #ffffff;
}
.btn-submit .btn:hover{
    background: var(--bg-primary);
    color: #ffffff;
    opacity: 0.7;

}
    
/*======================= Contact us form end =========================================
======================================================================================*/



/*======================= Cart page=========================================
======================================================================================*/




.cart-page {
    padding: 100px 0;
}
.cart-page .card{
    border: none;
}
.cart-page .card .table-head p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-black);
}
.quantity-input{
    
}
.quantity-input .input-box{
    display: flex;
    justify-content: space-between;
    width: 60%;
    color: #d4d4d4;
    border: 1px solid #EBEBEB;
    border-radius: 30px;
}
.quantity-input .input-box i{
    color:#D4D4D4;
    

}
.quantity-input .input-form{
    text-align: center;
    border: none;
    width: 30%;
    color:#6a6969;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

    /*======================= Cart page=========================================
======================================================================================*/
